@model IEnumerable<Steunijos.Web.ViewModels.Paper.PaperIndexViewModel>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">

    <div class="container">
        <div class="row">
            <p>

            </p>
            <div class="col-lg-10">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.PaperTitle)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.AuthorName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SubjectArea)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.SubmissionDate)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @Html.DisplayFor(modelItem => item.PaperTitle)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.AuthorName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubjectArea)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SubmissionDate)
                                </td>

                                <td>
                                    <a asp-action="Details" class="btn btn-primary"
                                       asp-route-id="@item.PaperId">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</section>