@model IEnumerable<Steunijos.Web.ViewModels.Journal.JournalReadModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section">
    <div class="container">
        <h1>Index</h1>
        <div class="row">

            @if (!(TempData["Message"] is null))
            {
                <span class="alert alert-success">@TempData["Message"]</span>
            }

            <p>
                <a asp-action="Create" class="btn btn-primary-blue">Upload Journal</a>
            </p>
            <hr />
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.IssnNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.VolumeName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SavedPath)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CopyrightYear)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.IssnNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.VolumeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SavedPath)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CopyrightYear)
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", new { id = item.IssnNo })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
