@model IEnumerable<Steunijos.Web.Models.Paper>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <section class="section">

        <div class="container">
            <div class="row">
                <p>

                </p>
                <div class="col-lg-10">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.NumberOfPages)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PaperTopic)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Journal)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreatedAt)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NumberOfPages)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PaperTopic)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Journal.IssnNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CreatedAt)
                                    </td>
                                 
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.PaperId">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.PaperId">Details</a> |
                                        @*<a asp-action="Delete" asp-route-id="@item.PaperId">Delete</a>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </section>